@{
    ViewData["Title"] = "Home Page";
}


<h1 class="display-4">Welcome To Enis Dashbord</h1>
<br />
<br />

<center>
    <!-- The image has scrolling behavior to left -->
    <marquee behavior="scroll" direction="left">
        <img src="~/image/paternaires.jpg" alt="GeeksforGeeks logo" />
        <img src="~/image/enis1.jpg" />
        <img src="~/image/enis2.jpg" />
    </marquee>
</center>